<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dpdelivery.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".technicianui.search.SearchActivity"></activity>
        <activity android:name=".technicianui.jobslist.JobsListActivity" />
        <activity android:name=".technicianui.photo.ImageActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.dpdelivery.android.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAaodfDw6xFWkb7P3Fd3Dk9BMrvGAyWBpg" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.base.BaseActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.deliveryjob.DeliveryJobActivity" />
        <activity
            android:name=".ui.deliveryjoblist.DeliveryJobListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.dashboard.DashBoardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.deliveryjob.ImagesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.photo.PhotosActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.location.MapLocationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.location.LocationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".technicianui.base.TechBaseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".technicianui.jobdetails.TechJobDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".technicianui.techjobslist.TechJobsListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".technicianui.scanner.ScannerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".technicianui.finish.FinishJobActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan|adjustResize"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>